/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET - Start of Your CSS*/


h2 {font:helvetica;
	font-size:6pt;
	float:left;
	text-align:left;
	font-family:helvetica;
	position:absolute;
	top:40px;
	left:150px;
	line-height:120%;
	border-left:3px solid black;
	padding:30px;
	padding-bottom:80px;
}

h1 {
	font-size:20pt;
	font-weight:bold;
	font-weight:italic;
	font-family:bodoni;
	position:absolute;
	top:35px;
	left:170px;
	line-height:120%;
	}

h3 {font:helvetica;
	font-size:6pt;
	float:left;
	text-align:right;
	font-family:helvetica;
	position:absolute;
	top:70px;
	left:30px;
	line-height:150%;

}

h4 {font-family:helvetica;
	font-size:6pt;
	padding-top:10px;
	padding-bottom:50px;
	padding-left:10px;
	padding-right:80px;
	background-color:gray;
	width:220px;
	position:absolute;
	left:170px;
	top:220px;


}

img {position:absolute;
	left:0px;
	top:350px;}


h5	{font-size:15pt;
	position:absolute;
	left:160px;
	top:70px;
	font-weight:bold;
	line-height:180%;

}

a	{text-decoration:none;
	position:absolute;
	top:330px;
	left:190px;
	font-color:black;
}




